*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.modal{
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}
.sidebar{
    
    padding: 5px;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    background: #fff;
}
.sidebar .sidebar-links{
    color: rgba(0, 0, 0, 0.753);
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
    border-radius: 5px;
}
.sidebar .sidebar-links:active{
    color: blueviolet;
    background-color: rgba(63, 62, 62, 0.555);
}
.sidebar .sidebar-links:hover{
    background-color: rgba(219, 182, 253, 0.377);
    color: blueviolet;
}
.sidebar .sidebar-links span{
    margin-left: 20px;
}

/* header style */
header{
    background: blueviolet;
    display: flex;
    padding: 20px;
}
.hamburger {
    width: 60px;
    height: 60px;
    text-align:center;
}
.hamburger:hover {
    border-radius: 50%;
    background-color: rgb(125, 79, 168);
}
.hamburger i{
   font-size: 50px;
   color: white;
}
header h2{
    margin-left: 20px;
    color: white;
    font-size: 3rem;
}
/* main style */
.container{
    padding: 10px;
}
.container p{
    margin: 10px 0;
}

@media only screen and (max-width: 600px){
    header{
        padding: 10px;
        height: 4rem;
    }
    .hamburger i{
        font-size: 30px;
     }
     header h2{
        margin-left: 20px;
        color: white;
        font-size: 1.5rem;
    }
    .sidebar{
        padding: 2px;
        width: 60%;
    }
    .sidebar .sidebar-links{
        font-size: 15px;
        padding: 10px;
        text-decoration: none;
        border-radius: 5px;
    }
}